:root {
    --whitetext: #FFF;
    --greytext: #C7C7C7;
    --lighttext: #D8D8D8;
    --headercol: #012D63;
    --herobtncol: #8E32C6;
    --footercol: #021635;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    font-family: "Roboto";
}

.container {
    width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;
}

.header {
    background-color: var(--headercol);
    padding-top: 16px;
    padding-bottom: 14px;
}
.header>.container {
    display: flex;
    align-items: center;
    gap: 29px;
}

.header-nav {
    margin-left: auto;
}

.nav-list {
    display: flex;
    gap: 29px;
}

.nav-link {
    color: var(--greytext);
    font-size: 24px;
    font-weight: 300;
    line-height: 1.16;
}

.nav-link:hover {
    color: var(--whitetext);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
}

.active {
    color: var(--whitetext);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
}

.hero {
    padding-top: 94px;
    padding-bottom: 183px;
    background: url(../img/herobg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-list {
    display: flex;
    flex-direction: column;
}

.hero-img {
    width: 160px;
    height: 120px;
}

.hero-imgtext {
    color: var(--whitetext);
    font-family: "PT Serif";
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    margin-left: 25px;
}

.title {
    color: var(--whitetext);
    font-family: "Playfair Display";
    font-size: 144px;
    font-weight: 400;
    line-height: 1;
}

.subtitle {
    color: var(--whitetext);
    font-family: "Playfair Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 12px;
}

.hero-text {
    color: var(--whitetext);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
    width: 508px;
    margin-bottom: 41px;
}

.hero-btn {
    color: var(--whitetext);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
    padding: 20px 61px;
    border-radius: 10px;
    background: var(--herobtncol);
}

.opps {
    background: url(../img/oppsbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}

.opps-list {
    display: flex;
    border: solid 5px var(--herobtncol);
    padding: 25px 50px;
}

.opps-item {
    padding-right: 50px;
    border-right: var(--whitetext) solid 1px;
}

.opps-item:nth-child(2) {
    padding-right: 95px;
    padding-left: 95px;
    display: flex;
    flex-direction: column-reverse;
}

.opps-item:nth-child(3) {
    border: none;
    padding-left: 50px;
}

.opps-subtitle {
    color: var(--whitetext);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 400;
    line-height: 1.33;
    width: 159px;
    margin-left: 41px;
}

.rev {
    padding-top: 25px;
    padding-bottom: 114px;
    background: url(../img/reviewsbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rev-title {
    color: var(--whitetext);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    line-height: 1.33;
}

.rev-list {
    display: flex;
    gap: 93px;
    justify-content: center;
}

.rev-item {
    background: url(../img/revjohnbg.png);
    border-radius: 15px;
    /* box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978; */
    background-repeat: no-repeat;
    padding: 49px 13.5px 29px 13.5px;
}

.rev-item:nth-child(2) {
    background: url(../img/revelizbg.png);
    background-repeat: no-repeat;
    padding: 49px 13.5px;
}

.rev-item:nth-child(3) {
    background: url(../img/revtombg.png);
    background-repeat: no-repeat;
    padding: 49px 13.5px;
}

.rev-comment {
    width: 228px;
    color: var(--whitetext);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
    margin-bottom: 8px;
}

.rev-text {
    /* margin-bottom: 47px; */
    color: var(--whitetext);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
}


.rev-span {
    color: var(--lighttext);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
}